[submodule "deps/security"]
	path = deps/security
	url = https://github.com/ms-iot/security.git
[submodule "deps/azure-iot-sdk-c"]
	path = deps/azure-iot-sdk-c
	url = https://github.com/azure/azure-iot-sdk-c
